.centrar {
  text-align: center;
}
body{
    background-color: white;
    color: black;
}
.galeria {
  display: flex;
  justify-content: center;   /* centra todo horizontalmente */
  gap: 40px;                 /* espacio entre imágenes */
  padding: 40px;
}
.galeria img {
  width: 300px;              /* tamaño de las imágenes */
  height: auto;
}
.galeria_avances {
  display: flex;
  justify-content: center;   /* centra todo horizontalmente */
  gap: 40px;                 /* espacio entre imágenes */
  padding: 40px;
}
.galeria_avances img {
  width: 600px;              /* tamaño de las imágenes */
  height: auto;
}

