a{
    text-decoration: none;
    color: purple;
}
#fondo{
    background-color: yellow;
}
.texto {
  max-width: 900px;        /* ancho del bloque de texto */
  margin: 0 auto;         /* lo centra en la página */
  padding: 0 40px;        /* margen interno */
}
